SECRET_KEY = 'django-insecure-2g@t)81&*b9-70fx0(%r2r(n^kkhqi!+6zxv-q3xw$san3rxer'
DEBUG=False
GEMINI_API_KEY=AIzaSyD-IIGGQZ45nygOATbmYO4n5oGJuDyt-QE
DATABASE_URL=your_render_postgres_database_url
ALLOWED_HOSTS=your-app-name.onrender.com